body {
  background-color: #f8f7fc;
  font-family: $text-font-primary;
  color: $dark-blue;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-primary;
}

.default-text-font {
  font-family: $text-font-primary !important;
}

.highlight-font {
  font-family: $heading-font-primary !important;
}

.dropdown-toggle {
  &:after {
    margin-left: 5px !important;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color;
  }
}