#header {
  background-color: $dark;

  .navbar {
    padding: 1rem 0;

    .navbar-brand {
      color: $orange !important;
    }

    .navbar-nav {

      .nav-link {
        color: #c1c0c7 !important;
        font-weight: 300;
        letter-spacing: 0.16px;

        &.advertise-btn {
          border: 1px solid $orange;
          font-weight: bold;
          background-color: $orange;
          color: #fff !important;
        }
      }

    }
  }
}