/// Regular font family
$text-font-primary:  'Roboto', sans-serif;
$heading-font-primary:  'Montserrat', sans-serif;

/// Color Palette
$dark: #1A1A26 !default;
$dark-blue: #242D52 !default;
$blue: #3AA0F9 !default;
$orange-light: #FFA74B !default;
$orange-dark: #F97B3A !default;
$green: #2DC195 !default;
$gray-light: #F8F7FC !default;
$gray-dark: #7F899C !default;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}